body{ background-color:#dcdcdc }
.flecha-carousel{font-weight:bolder;color:#000000;font-size:large;}
.diaHoy{color:yellow;background-color:black;font-size:large}
.otrosDias{background-color:#F5F5DC}
.sMesAnio{background-color:#800000;color:yellow;font-size:xx-large}
.sNomDiaSem{background-color:#A0522D;color:#FFFFFF;font-size:x-large}
.pEstilo1{font-size:xx-large;color:#800000}
.txtFoc{background-color:#DCDCDC;font-size:x-large}
.txtBlu{background-color:#FFFFFF;font-size:x-large}
.tblSuma{background-color:#FFFFFF;}
.sNotErr{background-color:#800000;color:white;font-size:xx-large}
.FondAmaColNeg{color:black;background-color:yellow;font-size:xx-large}
.FondNegColAma{color:yellow;background-color:black;font-size:xx-large}
.tblBorder{background-color:#FFFFFF;border-color:red;border-style:solid;border-width:3px}
.sinJs{background-color:blue;color:yellow;}
.cPrograma{color:red;background-color:black;font-size:xx-large}
.cGris {background-color:#DCDCDC;border-color:red;border-style:dotted;border-width:3px}
.cSumFoc{color:white;background-color:black;font-size:x-large}
.cSumBlu{color:black;background-color:white;font-size:x-large}
.fAcceso{border-color:blue;border-style:solid;border-width:3px}